!!!
html
  head
    title= title
    link(rel='stylesheet', href='/sencha-touch/resources/css-debug/sencha-touch.css')
    script(src='/sencha-touch/sencha-touch-debug.js')

    script(src='/javascripts/helloworld.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body